In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:.6f}'.format
plt.style.use("seaborn-v0_8")

In [2]:
Ved = pd.read_csv("Ved.csv", index_col= "Date", parse_dates= ["Date"])

In [3]:
Ved

                Price   Returns
Date
2014-01-01 202.000000       NaN
2014-01-02 199.850006 -0.010644
2014-01-03 199.149994 -0.003503
2014-01-06 198.949997 -0.001004
2014-01-07 194.500000 -0.022367
...               ...       ...
2024-01-31 273.850006  0.028545
2024-02-01 268.500000 -0.019536
2024-02-02 272.549988  0.015084
2024-02-05 273.600006  0.003853
2024-02-06 283.000000  0.034357

[2491 rows x 2 columns]

In [4]:
Ved["log_ret"] = np.log(Ved.Price / Ved.Price.shift())
Ved

                Price   Returns   log_ret
Date
2014-01-01 202.000000       NaN       NaN
2014-01-02 199.850006 -0.010644 -0.010701
2014-01-03 199.149994 -0.003503 -0.003509
2014-01-06 198.949997 -0.001004 -0.001005
2014-01-07 194.500000 -0.022367 -0.022621
...               ...       ...       ...
2024-01-31 273.850006  0.028545  0.028145
2024-02-01 268.500000 -0.019536 -0.019730
2024-02-02 272.549988  0.015084  0.014971
2024-02-05 273.600006  0.003853  0.003845
2024-02-06 283.000000  0.034357  0.033780

[2491 rows x 3 columns]

In [5]:
Ved.log_ret.agg(["mean","std"]) # mean and std based on daily returns

mean   0.000135
std    0.028269
Name: log_ret, dtype: float64

In [6]:
ann_mu = Ved.log_ret.mean() * 252 # annualized mean return
ann_mu

0.03412416002449454

In [8]:
cagr = np.exp(ann_mu) -1 #don't mix up with cagr
cagr

0.03471306875298996

In [9]:
ann_std = Ved.log_ret.std()*np.sqrt(252) # annualized std of returns (Alt 1)
ann_std

0.44875897770498135

In [10]:
ann_std = np.sqrt(Ved.log_ret.var() * 252) # annualized std of returns (Alt 2)
ann_std

0.4487589777049813