In [1]:
# Portfolio of Assets and portfolio Returns

In [2]:
import pandas as pd
import numpy as np

In [3]:
prices = pd.DataFrame(data = {"Asset_A": [100, 112], "Asset_B": [100, 104]}, index = [0,1])
prices

   Asset_A  Asset_B
0      100      100
1      112      104

In [7]:
prices["Total"] = prices.Asset_A + prices.Asset_B

In [8]:
prices

   Asset_A  Asset_B  Total
0      100      100    200
1      112      104    216

In [9]:
returns = prices.pct_change() # simple returns
returns

   Asset_A  Asset_B  Total
0      NaN      NaN    NaN
1     0.12     0.04   0.08

In [10]:
0.5 * 0.12 + 0.5 * 0.04 # correct (portfolio return == weighted average of simple returns)

0.08

In [11]:
log_returns = np.log(prices / prices.shift()) #log returns
log_returns

    Asset_A   Asset_B     Total
0       NaN       NaN       NaN
1  0.113329  0.039221  0.076961

In [14]:
0.5 * log_returns.iloc[1,0] + 0.5*log_returns.iloc[1,1] # incorrect (portfolio return != weighted average of log return)

0.0762746992301423

# Take home: While log returns are time-additive, they are not asset-additive.
(While simple returns are not time-additive, they are asset-additive.)