### Investment Multiple and CAGR

In [1]:
# Two alternative reward metrics that are more intuitive and easier to interpret.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:.4f}'.format
plt.style.use("seaborn-v0_8")

In [3]:
Ved = pd.read_csv("Ved.csv", index_col = "Date", parse_dates = ["Date"])
Ved

              Price  Returns
Date
2014-01-01 202.0000      NaN
2014-01-02 199.8500  -0.0106
2014-01-03 199.1500  -0.0035
2014-01-06 198.9500  -0.0010
2014-01-07 194.5000  -0.0224
...             ...      ...
2024-01-31 273.8500   0.0285
2024-02-01 268.5000  -0.0195
2024-02-02 272.5500   0.0151
2024-02-05 273.6000   0.0039
2024-02-06 283.0000   0.0344

[2491 rows x 2 columns]

In [4]:
# Investment Multiple: Ending Value of 1 [Dollar] invested.
# Multiple = Ending Value / Intial Investment

In [9]:
# Ved.Price[-1]
Ved.Price[0]

202.0

In [5]:
multiple = (Ved.Price[-1] / Ved.Price[0])
multiple

1.400990099009901

Price Increase (in %)

In [6]:
(multiple - 1) * 100

40.09900990099009

In [7]:
Ved.Price / Ved.Price[0] # similar/identical concept: Normalized Price with Base Value 1

Date
2014-01-01   1.0000
2014-01-02   0.9894
2014-01-03   0.9859
2014-01-06   0.9849
2014-01-07   0.9629
              ...
2024-01-31   1.3557
2024-02-01   1.3292
2024-02-02   1.3493
2024-02-05   1.3545
2024-02-06   1.4010
Name: Price, Length: 2491, dtype: float64

### Drawback of `investment multiple`: Doesn't take into account investment period: meaningful only in conjuction with investment period.

### `Compound Annual Growth Rate(CAGR):` The (constant annual) rate of return that would be required for an investment to grow from its beginning balance to its ending balance to its ending balance, assuming the profits were reinvested at the end of each year of the investment lifespan(Wikipedia)

In [11]:
start = Ved.index[0]
start

Timestamp('2014-01-01 00:00:00')

In [12]:
end = Ved.index[-1]
end

Timestamp('2024-02-06 00:00:00')

In [14]:
td = end - start
td

Timedelta('3688 days 00:00:00')

In [17]:
td.days

3688

In [15]:
td_years = td.days / 365.25
td_years

10.097193702943189

In [18]:
cagr = multiple**(1 / td_years) - 1 # short version
cagr #Compound Annual Growth Rate

0.03395717418883715

In [21]:
cagr = (Ved.Price[-1]/Ved.Price[0])**(1/((Ved.index[-1] - Ved.index[0]).days / 365.25)) - 1 #long
cagr

0.03395717418883715

In [22]:
(1 + cagr)**(td_years) # alternative #2 to calculate multiple (cagr)

1.4009900990099011

In [23]:
# >> CAGR can be used to compare investments with different investment horizons.