In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:.4f}'.format
plt.style.use("seaborn-v0_8")

In [2]:
Ved = pd.read_csv("Ved.csv", index_col = "Date", parse_dates = ["Date"])
Ved

              Price  Returns
Date
2014-01-01 202.0000      NaN
2014-01-02 199.8500  -0.0106
2014-01-03 199.1500  -0.0035
2014-01-06 198.9500  -0.0010
2014-01-07 194.5000  -0.0224
...             ...      ...
2024-01-31 273.8500   0.0285
2024-02-01 268.5000  -0.0195
2024-02-02 272.5500   0.0151
2024-02-05 273.6000   0.0039
2024-02-06 283.0000   0.0344

[2491 rows x 2 columns]

In [6]:
multiple = (1 + Ved.Returns).prod() # alternative #3 to calculate multiple (compounding daily returns)
multiple

1.4009900990099813

In [7]:
n = Ved.Returns.count()
n

2490

In [8]:
geo_mean = multiple **(1/n) - 1 # Geometric mean return (daily)
geo_mean

0.00013542250222986496

In [9]:
(1 + geo_mean)**n #alternative #4 to calculate multiple (geometric mean)

1.4009900990100397

In [10]:
# >> Compound returns, CAGR & geometric mean return are closly related concepts.

In [11]:
mu = Ved.Returns.mean() # arithmetic mean return
mu

0.0005325235329965898

In [12]:
# The airthmetic mean return is always greater than the geometric mean return .......and less useful.

In [13]:
(1 + mu)**n # calculate multiple? not possible with arithmetic mean!

3.76455877713943