In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.6f}'.format

In [3]:
df=pd.DataFrame(data = [100, 50, 90], columns = ["Price"])
df

   Price
0    100
1     50
2     90

In [5]:
df["SR"] = df.Price.pct_change() # simple returns

In [6]:
df["LR"] = np.log(df.Price / df.Price.shift()) # Log returns

In [7]:
df

   Price        SR        LR
0    100       NaN       NaN
1     50 -0.500000 -0.693147
2     90  0.800000  0.587787

In [8]:
periods = df.SR.count()
periods

2

 ### The Airthmetic mean of simple returns can be misleading!

In [9]:
mean_sr = df.SR.mean()
mean_sr

0.15000000000000002

In [10]:
100*(1+mean_sr)**periods #wrong!!!

132.24999999999997

### We should use Compound Simple Returns / Geometricc Mean, or even better....

In [11]:
geo_mean = (1+df.SR).prod()**(1/periods)-1
geo_mean

-0.05131670194948623

In [12]:
100*(1+geo_mean)**periods #Correct!!!

89.99999999999999

### Log returns which are additive over time!

In [13]:
sum_lr = df.LR.sum()
sum_lr

-0.10536051565782623

In [14]:
100*np.exp(sum_lr) # correct!!!

90.0

In [15]:
mean_lr = df.LR.mean()
mean_lr

-0.05268025782891311

In [16]:
100*np.exp(mean_lr*periods) # correct!!!

90.0

## Take home: Log Returns are additive over time. Simple Returns are not additive over time (but they can be multiplied/compounded)