In [2]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.6f}'.format

In [3]:
Ved = pd.read_csv("Ved.csv", index_col = "Date", parse_dates=["Date"])

In [4]:
Ved["log_ret"] = np.log(Ved.Price / Ved.Price.shift())

In [5]:
Ved

                Price   Returns   log_ret
Date
2014-01-01 202.000000       NaN       NaN
2014-01-02 199.850006 -0.010644 -0.010701
2014-01-03 199.149994 -0.003503 -0.003509
2014-01-06 198.949997 -0.001004 -0.001005
2014-01-07 194.500000 -0.022367 -0.022621
...               ...       ...       ...
2024-01-31 273.850006  0.028545  0.028145
2024-02-01 268.500000 -0.019536 -0.019730
2024-02-02 272.549988  0.015084  0.014971
2024-02-05 273.600006  0.003853  0.003845
2024-02-06 283.000000  0.034357  0.033780

[2491 rows x 3 columns]

### Investment Multiple

In [7]:
Ved.Returns.add(1).prod() # compounding simple returns ("compound returns")

1.4009900990099813

In [8]:
np.exp(Ved.log_ret.sum()) #adding log returns("cumulative returns")

1.4009900990098962

### Normalized Prices with Base 1

In [10]:
Ved.Returns.add(1).cumprod() # compounding simple returns ("compound returns")

Date
2014-01-01        NaN
2014-01-02   0.989356
2014-01-03   0.985891
2014-01-06   0.984901
2014-01-07   0.962871
               ...
2024-01-31   1.355693
2024-02-01   1.329208
2024-02-02   1.349257
2024-02-05   1.354455
2024-02-06   1.400990
Name: Returns, Length: 2491, dtype: float64

In [13]:
np.exp(Ved.log_ret.cumsum()) # adding log returns ("Cumulative returns")

Date
2014-01-01        NaN
2014-01-02   0.989356
2014-01-03   0.985891
2014-01-06   0.984901
2014-01-07   0.962871
               ...
2024-01-31   1.355693
2024-02-01   1.329208
2024-02-02   1.349257
2024-02-05   1.354455
2024-02-06   1.400990
Name: log_ret, Length: 2491, dtype: float64

In [14]:
Ved.log_ret.cumsum().apply(np.exp) # adding log returns ("cumulative returns")

Date
2014-01-01        NaN
2014-01-02   0.989356
2014-01-03   0.985891
2014-01-06   0.984901
2014-01-07   0.962871
               ...
2024-01-31   1.355693
2024-02-01   1.329208
2024-02-02   1.349257
2024-02-05   1.354455
2024-02-06   1.400990
Name: log_ret, Length: 2491, dtype: float64

## CAGR

In [17]:
(Ved.Price[-1]/Ved.Price[0])**(1/((Ved.index[-1] - Ved.index[0]).days/365.25))-1

0.03395717418883715

In [19]:
trading_days_year = Ved.Returns.count() / ((Ved.index[-1] - Ved.index[0]).days / 365.25)
trading_days_year

246.60317245119307

In [20]:
np.exp(Ved.log_ret.mean()*trading_days_year) - 1 #correct with mean of daily log returns!

0.0339571741888367

In [22]:
np.exp(Ved.log_ret.mean()*252)-1 # good approximation(for us stockes)

0.03471306875298996